@model N35_WebBanDT.Models.Entities.NhanVien

@{
    ViewBag.Title = "ChiTietNhanVien";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChiTietNhanVien</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>

        <dt>
           Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh_NV)
        </dd>

        <dt>
           Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
           Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT_NV)
        </dd>
   

    </dl>
</div>
<p>
    @Html.ActionLink("Trở về danh sach nhan viên", "DanhSachNhanVien", "NhanVien")
</p>
