
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@using N35_WebBanDT.Models.Entities;
@model SanPham
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="back-links">
              <p> Thông tin chi tiết sản phẩm</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div class="product-details">
                    <div class="grid_1_of_4 images_1_of_4" style="width:300px; height:400px;">
                        <a href="#"><img style="width:300px; height:400px;" src="/Content/images/@Model.UrlAnh" alt="" /></a>
                        @*<h2></h2>*@
                        @*<div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@Model.DonGiaB VNĐ</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="preview.html">Thêm Vào Giỏ Hàng </a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>*@
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.TenSanPham  </h2>

                    <div class="price">
                        <p style="font-size:14px">Giá: <span>@Model.DonGiaB.GetValueOrDefault(0).ToString("N0")</span></p>
                    </div>
                    @*<div class="available">
                        <p>Tiêu Chuẩn  :</p>
                        <ul>
                            
                            <li>
                                Dung Lượng:<select>
                                    <option>16GB</option>
                                    <option>32GB</option>
                                    <option>64GB</option>
                                    <option>128GB</option>

                                </select>
                            </li>

                        </ul>
                    </div>*@
                    @*<div class="share-desc">
                        <div class="share">

                            <ul>
                                <li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="button"><span><a href="#">Thêm Vào Giỏ Hàng </a></span></div>
                        <div class="clear"></div>
                    </div>*@
                    <div class="add-cart">
                            <h4 style="text-align:center"><a href="/Cart/AddItem?IDSanPham=@Model.IDSanPham&soluong=1">Thêm vào giỏ hàng </a></h4>
                        </div>
                    @*<div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Add to Wishlist</a></li>
                            <li class="compare"><a href="#">Thêm để so sánh</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="clear"></div>
            </div>

            <div class="left-content">
                <h2 style="font-weight: bold; font-size: 20px;">Thông số kỹ thuật</h2>
                <dl>
                    <dd>
                        Màn hình:
                    </dd>
                    <dt>
                        @Model.ManHinh
                    </dt>

                    <dd>
                        Hệ điều hành:
                    </dd>
                    <dt>
                        @Model.HeDieuHanh
                    </dt>

                    <dd>
                        Camera sau:
                    </dd>

                    <dt>
                        @Model.CameraSau
                    </dt>

                    <dd>
                        Camera trước:
                    </dd>

                    <dt>
                        @Model.CameraTruoc
                    </dt>

                    <dd>
                        CPU:
                    </dd>

                    <dt>
                       @Model.CPU
                    </dt>

                    <dd>
                        RAM:
                    </dd>

                    <dt>
                       @Model.Ram
                    </dt>

                    <dd>
                        Bộ nhớ trong:
                    </dd>

                    <dt>
                        @Model.BoNhoTrong
                    </dt>

                    <dd>
                        Thẻ sim:
                    </dd>

                    <dt>
                        @Model.TheSim
                    </dt>

                    <dd>
                        Dung lượng pin:
                    </dd>

                    <dt>
                        @Model.DungLuongPin
                    </dt>
                </dl>
            </div>
            @*<div class="product_desc" style="clear: both;">
                <div id="horizontalTab">

                </div>
            </div>*@
            <script type="text/javascript">
$(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });</script>




            <div class="header_bottom_left" style="margin-top: 40px; margin-left: 33px;">
                <div class="categories">
                    <ul>
                        <h3 style="background-color:#253d98">Danh Mục</h3>
                        @Html.Action("Menu")

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

