@model N35_WebBanDT.Models.Entities.SanPham

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc xóa sản phẩm này?</h3>
<div>
    <h4>Danh mục sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hang.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraSau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraSau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraTruoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraTruoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoNhoTrong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoNhoTrong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DungLuongPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DungLuongPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TGBaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TGBaoHanh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách sản phẩm", "Index")
        </div>
    }
</div>
